<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>活动抽奖列表</title>
    <script th:src="@{/js/event/eventLotteryList.js}" ></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-header">
        <h1>
            活动抽奖列表
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <!--<div class="col-xs-4">-->
                                <!--<div class="input-group">-->
                                    <!--<input type="text" ng-model="searchValue" class="form-control" placeholder="用户名,姓名 或电话" />-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-default" ng-click="search()" type="button">-->
                                        <!--<i class="fa fa-fw fa-search"></i>-->
                                    <!--</button>-->
                                <!--</span>-->
                                <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
                            <!--</div>-->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>抽奖活动名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="eventLotteryList">
                            <!--<tr>-->
                                <!--<td th:text="${user.mobile}">mobile</td>-->
                                <!--<td th:text="${user.schoolId}">school_id</td>-->
                                <!--<td th:text="${user.shortName}">short_name</td>-->
                                <!--<td th:text="${#dates.format(user.joinTime, 'yyyy-MM-dd HH:mm:ss')}">joinTime</td>-->
                                <!--<td th:text="${user.status}">taskStatus</td>-->
                                <!--<td>-->
                                    <!--<a href="javascript:void(0);" onclick="testOnclick(1)">修改</a>-->
                                <!--</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                        <p id="eventLotteryListPagination"></p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>
</body>
</html>
