<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>新增奖品</title>
    <link rel="stylesheet" th:href="@{/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" th:href="@{/plugins/dropzone/dropzone.min.css}" />
    <!-- datetimepicker -->
    <script th:src="@{/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/plugins/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js}" charset="UTF-8"></script>
    <script th:src="@{/plugins/dropzone/dropzone.min.js}" charset="UTF-8"></script>
    <script th:src="@{/js/admin/prizeCreate.js}" ></script>

</head>
<body>
<div class="content-wrapper" layout:fragment="content">

    <!--<section class="content-header">-->
        <!--<h1>-->
            <!--新增奖品-->
        <!--</h1>-->
    <!--</section>-->

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <form class="form-horizontal" id="form">
                        <div class="box-body">
                            <div class="fanhui-icon">
                                <a href="javascript:history.go(-1)"><i></i>返回</a>
                            </div>
                            <br/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">奖类:</label>
                                <div class="col-sm-6">
                                    <select id="prizeType" style="width: 100%;" check-type="required" required-message="请选择奖品类型">
                                        <option value="1">现金</option>
                                        <option value="2">实物</option>
                                        <option value="3">虚拟</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">奖品:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="name" class="form-control" placeholder="请填写奖品名称" check-type="required" required-message="请填写奖品名称"/>
                                </div>
                            </div>
                            <div class="form-group" id="moneyDiv">
                                <label class="col-sm-2 control-label">金额:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="money" value="0" class="form-control" placeholder="请填写金额(只能填数字)" check-type="required" required-message="请填写金额(只能填数字)"
                                           onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">奖品描述:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="desc" class="form-control" placeholder="奖品描述" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">总份数:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="stockTotal" class="form-control" placeholder="总份数" check-type="required" required-message="请填写总份数"
                                           onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">有效期:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="dateTime" class="form-control" placeholder="请选择时间" check-type="required" required-message="请选择时间"/>
                                </div>
                                <input type="hidden" id="availableTime"/>
                                <input type="hidden" id="expireTime"/>
                                <!--<div class="col-sm-3">-->
                                    <!--<input type="text" class="form-control" id="availableTime" placeholder="请选择开始时间"/>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3">-->
                                    <!--<input type="text" class="form-control" id="expireTime" placeholder="请选择结束时间"/>-->
                                <!--</div>-->
                                <script>
                                    $(function () {
                                        var startDate = moment().subtract('days', 0);
                                        var endDate = moment().subtract('days', -7);

                                        $('#dateTime').daterangepicker({
                                            timePicker: true, //是否显示小时和分钟
                                            startDate: startDate,
                                            endDate: endDate,
//                                        maxDate: new Date(),
                                            locale: {
                                                separator: '/',
                                                applyLabel: '确认',
                                                cancelLabel: '取消',
                                                fromLabel: '从',
                                                toLabel: '到',
                                                weekLabel: 'W',
                                                format: 'YYYY-MM-DD HH:mm:ss',
                                                customRangeLabel: 'Custom Range',
                                                daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                                                monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                                            }
                                        }, function (start, end, label) {
                                            $("#availableTime").val(start.format('YYYY/MM/DD HH:mm:ss'));
                                            $("#expireTime").val(end.format('YYYY/MM/DD HH:mm:ss'));
                                        });
                                        $("#availableTime").val(startDate.format('YYYY/MM/DD HH:mm:ss')+"");
                                        $("#expireTime").val(endDate.format('YYYY/MM/DD HH:mm:ss')+"");
                                    });
                                </script>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">挑战人数:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="challengeCnt" class="form-control" placeholder="挑战人数(最低人数)" check-type="required" required-message="请填写挑战人数"
                                           onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">投票人数:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="voteCnt" class="form-control" placeholder="投票人数(最低人数)" check-type="required" required-message="请填写投票人数"
                                           onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="status" class="status" value="1" name="status"/>
                                            需要审核
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="isPublic" class="isPublic" value="2" name="isPublic" />
                                            校谱发起专用
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">奖品图片:</label>
                                <div class="col-sm-6 dropz">
                                    <img id="uploadImage1" th:src="@{/img/cjhdtianjia.png}" height="164" width="177" data-val=""
                                         class="dropzoneImgUpload" data-toggle="tooltip"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-2">
                                    <button id="create" type="button" class="btn btn-block true-color" style="">仅保存</button>
                                </div>
                                <div class="col-sm-2 ">
                                    <button id="createAndEnable" type="button" class="btn btn-block true-color" style="">保存并立即启用</button>
                                </div>
                            </div>

                        </div>
                    </form>

                    <!--<script type="text/javascript">-->
                        <!--$("#availableTime").datetimepicker({-->
                            <!--format: 'yyyy/mm/dd hh:ii:ss',-->
                            <!--language: 'zh-CN', //汉化-->
                            <!--autoclose: true //选择日期后自动关闭-->
                        <!--});-->
                        <!--$("#expireTime").datetimepicker({-->
                            <!--format: 'yyyy/mm/dd hh:ii:ss',-->
                            <!--language: 'zh-CN', //汉化-->
                            <!--autoclose: true //选择日期后自动关闭-->
                        <!--});-->
                    <!--</script>-->
                </div>
            </div>
        </div>

    </section>
</div>
</body>
</html>