<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>奖品设置</title>
    <script th:src="@{/js/admin/prizeList.js}" ></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-header">
        <h1>
            <!--管理员首页-->
        </h1>
    </section>
    <!-- Main content -->
    <section class="content" style="overflow: auto;">
        <div class="row" style="min-width: 1100px;">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">

                        <div class="col-xs-2">
                            <input type="button" class="btn btn-default" id="sorts" data-val=""
                                   value="奖品推荐查询"
                                   onclick="orderBy(1)"/>
                        </div>
                        <div class="col-xs-2">
                            <button id="prizeCreate" type="button" style="width: 150px; background-color: #3c8dbc;" class="btn true-color">新增奖品</button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- /.box-body -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>
                                    <select class="form-control" id="prizeType" style="width: 120px">
                                        <option value="">全部</option>
                                        <option value="1">现金</option>
                                        <option value="2">实物</option>
                                        <option value="3">虚拟</option>
                                    </select>
                                </th>
                                <th>奖品</th>
                                <th>奖品图片</th>
                                <th>有效期</th>
                                <th>参与人数要求</th>
                                <th>总份数</th>
                                <th>剩余份数</th>
                                <th>
                                    <select class="form-control" id="isPublic" style="width: 120px">
                                        <option value="">全部</option>
                                        <option value="0">校谱提供</option>
                                        <option value="1">发起提供</option>
                                        <option value="2">校谱专用</option>
                                    </select>
                                </th>
                                <th>
                                    <select class="form-control" id="prizeStatus" style="width: 120px">
                                        <option value="">全部</option>
                                        <option value="1">已启用</option>
                                        <option value="0">已停用</option>
                                    </select>
                                </th>
                                <th>
                                    推荐
                                </th>
                            </tr>
                            </thead>
                            <tbody id="prizeList">
                            </tbody>
                        </table>
                        <p id="prizeListPagination"></p>
                        <div style="display: none;background-color: inherit;" id="tuijianBox" class="form-group">
                            <div class="form-group">
                                <input type="hidden" id="pid" value=""/>
                                <input type="hidden" id="reId" value=""/>
                                <div class="col-sm-4" style="margin: 20px 0">
                                    　<input type="button" id="top5" class="btn btn-default col-sm-10 buttonClass5" value="top1"
                                            onclick="voluation(5)"/>　　
                                </div>
                                <div class="col-sm-4" style="margin: 20px 0">
                                    　<input type="button" id="top4" class="btn btn-default col-sm-10 buttonClass4" value="top2"
                                            onclick="voluation(4)"/>　　
                                </div>
                                <div class="col-sm-4" style="margin: 20px 0">
                                    　<input type="button" id="top3" class="btn btn-default col-sm-10 buttonClass3" value="top3"
                                            onclick="voluation(3)"/>　　
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    　<input type="button" id="top2" class="btn btn-default col-sm-10 buttonClass2" value="top4"
                                            onclick="voluation(2)"/>　　
                                </div>
                                <div class="col-sm-4">
                                    　<input type="button" id="top1" class="btn btn-default col-sm-10 buttonClass1" value="top5"
                                            onclick="voluation(1)"/>　　
                                </div>
                                <div class="col-sm-4">
                                    　<input type="button" class="btn true-color col-sm-10" onclick="submitTj()" value="确定"/>　　
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>

    </section>
    <!-- /.content -->
</div>
</body>
</html>
