<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>创建活动</title>
    <link rel="stylesheet" th:href="@{/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" />
    <!-- datetimepicker -->
    <script th:src="@{/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/plugins/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js}" charset="UTF-8"></script>
    <script th:src="@{/js/createEvent.js}" ></script>
    <script>
        $(getSchoolList);
    </script>

</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <script type="text/template" id="add-qq-template">
        <div class="qq-uploader-selector">
            <div class="qq-upload-button-selector btn" style="background: white;position: relative;overflow: hidden;direction: ltr;">
                <img id="logoPic" class="imgClass" />
            </div>
            <ul class="qq-upload-list-selector qq-upload-list qq-hide">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                </li>
            </ul>
        </div>
    </script>
    <section class="content-header">
        <h1>
            创建活动
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <script>
                        $(function () {
                            $("#inputForm").validation({icon: true});
                            $("#submit1").on('click', function (event) {
                                if ($("#inputForm").valid(this) == false) {
                                    return false;
                                } else {
                                    sureCreate()
                                }
                            })
                        });
                    </script>
                    <!-- form start -->
                    <form id="inputForm" method="post" class="form-horizontal" action="">
                        <div class="box-body">
                            <br/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动组织方:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" readonly="readonly" th:value="${groupName}" value="校谱官方"  />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动标题:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" check-type="required" required-message="请填写活动标题" placeholder="请填写活动标题" id="subject"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动地点:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" check-type="required" required-message="请填写地点" placeholder="活动地点" id="address"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动时间:</label>
                                <div class="col-sm-3">
                                    <!--<input class="form-control pull-right" id="datepicker" type="text" />-->
                                    <input type="text" class="form-control" id="startTime"  placeholder="请选择开始时间" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="endTime" placeholder="请选择结束时间" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">参与要求:</label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="joinClaim" checked="checked" onclick="changeJoinClaim(2)" value="2" name="joinClaim" />
                                            无
                                        </label>
                                        <br/>
                                        <label>
                                            <input type="radio" class="joinClaim" value="1" onclick="changeJoinClaim(1)" name="joinClaim" />
                                            社团（备注：可选择多个社团）
                                        </label>
                                        <div id="groupJoinDiv" style="display: none;padding-top: 10px;cursor:pointer;"><img th:src="@{/img/cjhdtianjia.png}" onclick="showGroupModel();" height="40" width="40" /></div>
                                        <div id="stList">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">电子门票:</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" id="electronicTicket" value="0" onclick="changeCheckBox()" name="electronicTicket" />
                                    需要
                                </div>
                            </div>
                            <div class="form-group" id="ticketNumShow" style="display: none;padding-top: 10px;cursor:pointer;">
                                <label class="col-sm-2 control-label">活动人数:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" check-type="required" required-message="请填写活动人数" placeholder="请填写活动人数" id="ticketNum" value="100"
                                           onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动介绍:</label>
                                <div class="col-sm-6">
                                    <textarea check-type="required" required-message="请填写活动介绍" id="listDescription" rows="5" style="resize: none" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动海报:</label>
                                <div class="col-sm-6">
                                    <img id="uploadImage1" th:src="@{/img/cjhdtianjia.png}" class="dropzoneImgUpload" height="164" width="177"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动图片:</label>
                                <input type="text" id="imgDisplay" style="display: none" th:value="${imgsDomain}"/>
                                <div class="col-sm-3">
                                    <img id="uploadImage2" class="dropzoneImgUpload" th:src="@{/img/cjhdtianjia.png}" height="164" width="177" data-toggle="tooltip"/>
                                </div>
                                <div class="col-sm-3">
                                    <img id="uploadImage3" class="dropzoneImgUpload" th:src="@{/img/cjhdtianjia.png}" height="164" width="177" data-toggle="tooltip"/>
                                </div>
                                <div class="col-sm-3">
                                    <img id="uploadImage4" class="dropzoneImgUpload" th:src="@{/img/cjhdtianjia.png}" height="164" width="177" data-toggle="tooltip"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 col-sm-offset-3">
                                    <button type="button" style="margin-top: 20px;font-size: 14px;" class="btn btn-block true-color" id="submit1">确认发布</button>
                                </div>
                            </div>

                        </div>
                    </form>
                    <!--<input class="inp_fileToUpload" type="file" id="inp_fileToUpload" style="display: none"/>-->
                    <!--<input  type="image" id="file_image" th:src="@{/img/upload.png}" onclick="file_click()"/>-->
                    <!--<input class="ke-input-text" type="text" id="url" value="" style="display: none"/>-->
                    <!-- <img id="img" th:src="@{/js/upload.png}"/>-->

                    <script type="text/javascript">
                        $("#startTime").datetimepicker({
                            format: 'yyyy/mm/dd hh:ii',
                            language: 'zh-CN', //汉化
                            autoclose: true //选择日期后自动关闭
                        });
                        $("#endTime").datetimepicker({
                            format: 'yyyy/mm/dd hh:ii',
                            language: 'zh-CN', //汉化
                            autoclose: true //选择日期后自动关闭
                        });
                        //                        function file_click(){
                        //                            $('#inp_fileToUpload').click();
                        //                        }

                        //                        $(function () {
                        //                            $('#inp_fileToUpload').change(function () {
                        //                                var v_this = $(this);
                        //                                var fileObj = v_this.get(0).files;
                        //                                uploadtest(fileObj,"file_image");
                        //                                console.info("11111");
                        //                                return false;
                        //                            });
                        //                        });
                        //                        function uploadtest(fileObj,file_image){
                        //                            layer.load(0, {shade: false});
                        //                            var url = "/file/fileUpload";
                        //                            var formdata = new FormData();
                        //                            formdata.append("file", fileObj[0]);
                        //                            jQuery.ajax({
                        //                                url: url,
                        //                                type: 'post',
                        //                                data: formdata,
                        //                                cache: false,
                        //                                contentType: false,
                        //                                processData: false,
                        //                                dataType: "json",
                        //                                success: function (data) {
                        //                                    layer.closeAll();
                        //                                    $("#"+file_image).attr("src","http://imgs1.chinaxiaopu.com/"+data.obj);
                        //                                }
                        //                            });
                        //                            return false;
                        //                        }
                    </script>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="selectGroup" role="dialog" aria-labelledby="groupModalLabel">
            <div class="modal-dialog" role="document" style="width:700px;">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">选择社团</h4>
                    </div>
                    <div class="modal-body" style="">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-6 col-xs-offset-3">
                                    <div class="input-group">
                                        <input type="text" id="searchGroupText" class="form-control" placeholder="" onkeydown="seachList(event)"/>
                                        <!--<span class="input-group-btn">-->
                                            <!--<button class="btn btn-default" onclick="groupAndSchool();" type="button">-->
                                                <!--<i class="fa fa-fw fa-search"></i>-->
                                            <!--</button>-->
                                        <!--</span>-->

                                        <span class="input-group-addon seachButton" style="" onclick="groupAndSchool();">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </span>

                                    </div>
                                    <!-- /input-group -->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <select style="width: 100%" id="schoolList" onchange="groupAndSchool()">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="panel panel-default" >
                                        <div class="panel-body" style="height:200px;overflow: auto;" id="groupAndSchool">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-default" >
                                        <div class="panel-body" style="height:200px;overflow: auto;" id="groupSelected">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="grantFun()" class="btn true-color">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>