<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>用户列表</title>
    <link rel="stylesheet" href="../../static/plugins/jstree/dist/themes/default/style.min.css"
          th:href="@{/plugins/jstree/dist/themes/default/style.min.css}"/>
    <script src="../../../static/js/authorization/role.js" th:src="@{/js/authorization/role.js}"></script>
    <script src="../../../static/plugins/jstree/dist/jstree.min.js"
            th:src="@{/plugins/jstree/dist/jstree.min.js}"></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">

    <section class="content-header">
        <h1>
            用户角色管理
        </h1>
    </section>

    <!-- Main content -->
    <section class="content" style="overflow-x: auto;">
        <div class="row" style="min-width: 1100px;">
            <div class="col-xs-12">
                <div class="box">
                    <!--<div class="box-header">-->
                    <!-- /.box-header -->
                    <div class="box-header">
                        <div class="col-xs-4">
                            <button style="width: 150px;" type="button" onclick="add()" class="btn true-color">添加角色
                            </button>
                        </div>
                        <div class="col-xs-4 col-xs-offset-4">
                            <div class="input-group">
                                <input type="text" id="keyWords" placeholder="查询" class="form-control"/>
                                    <span class="input-group-addon seachButton" onclick="initRoleList()">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="min-width: 68px;">序号</th>
                                <th style="min-width: 68px;">角色标识</th>
                                <th style="min-width: 68px;">角色名</th>
                                <th style="min-width: 68px;">操作</th>
                            </tr>
                            </thead>
                            <tbody id="roleList">
                            </tbody>
                        </table>
                        <p id="roleListPagination"></p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
    </section>
    <!-- 修改，添加 Modal -->
    <div class="modal fade" id="selectGroup" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加角色信息</h4>
                </div>
                <div class="modal-body">
                    <form id="roleForm" class="form-horizontal" role="form" novalidate="novalidate" name="roleForm">
                        <div class="box-body">
                            <input type="hidden" id="roleId" name="roleId"/>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">角色标识:<i style="color: red">*</i></label>
                                <div class="col-sm-6">
                                    <input type="text" name="roleKey" id="roleKey" check-type="required"
                                           required-message="请填写角色标识" class="form-control" maxlength="10"
                                           placeholder="请填写角色标识"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">角色名:<i style="color: red">*</i></label>
                                <div class="col-sm-6">
                                    <input type="text" name="roleName" id="roleName" check-type="required"
                                           required-message="请填写角色名" class="form-control" maxlength="10"
                                           placeholder="请填写角色名"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    <input type="hidden" id="id" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="add" type="button" class="btn true-color">添加</button>
                    <button id="update" type="button" class="btn true-color">修改</button>
                </div>

            </div>
        </div>
    </div>
    <!-- /.content -->
    <!-- 信息删除确认 -->
    <div class="modal fade" id="delcfmModel">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">提示信息</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align: center;font-size: 30px;">您确认要删除吗？</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="delid"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a onclick="urlSubmit()" class="btn true-color" style="color: #444444;" data-dismiss="modal">确定</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="resourcesModel" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="resourceModelLabel">角色授权:</h4>
                </div>
                <div class="modal-body" style=" height:450px;overflow:auto;">
                    <div id="manage" class="jstree-default">

                    </div>
                    <!--<div id="result"></div>-->
                </div>

                <div class="modal-footer">
                    <input id="userRoleId" type="hidden"/>
                    <input id="userRoleName" type="hidden"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="updateResource" type="button" onclick="saveUserResource()" class="btn true-color">保存
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
</body>
</html>
