<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>校园合伙人详情</title>
    <script th:src="@{/js/partner/schoolPartnerDetail.js}"></script>
    <script>
        $(function () {
            $('#jointime').daterangepicker({
                timePicker: true, //是否显示小时和分钟
                startDate: moment().subtract('days', 7),
                endDate: new Date(),
                maxDate: new Date(),
                locale: {
                    separator: '/',
                    applyLabel: '确认',
                    cancelLabel: '取消',
                    fromLabel: '从',
                    toLabel: '到',
                    weekLabel: 'W',
                    format: 'YYYY-MM-DD HH:mm:ss',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                    monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                }
            }, function (start, end, label) {
                /*alert('A date range was chosen: ' + start.format('YYYY-MM-DD HH:mm:ss.SSSS') + ' to ' + end.format('YYYY-MM-DD HH:mm:ss.SSSS'));*/
                /*$('#reservationtime span').html(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));*/
            }).on('cancel.daterangepicker', function (ev, picker) {
                $('#jointime').val("");
            }).on('apply.daterangepicker', function (ev, picker) {
                initPartnerData();

            });

            $('#jointime').val("");
        });
    </script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-header">
        <h1>
            校园合伙人详情
        </h1>
    </section>

    <!-- Main content -->
    <section class="content" style="overflow: auto;">
        <form method="post" action="/export/schoolPartnerExport">
            <div class="row" style="min-width: 1100px;">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">

                            <div class="fanhui-icon">
                                <a href="javascript:history.go(-1);"><i></i>返回</a>
                            </div>
                            <div class="form-group" style="margin-top: 20px;line-height: 26px;">
                                <div class="col-xs-1">
                                    <strong th:text="${partner.realName}"></strong>
                                </div>
                                <div class="col-xs-1">
                                    <strong th:if="${partner.sex==1}">男</strong>
                                    <strong th:if="${partner.sex==2}">女</strong>
                                </div>
                                <div class="col-xs-2">
                                    <strong th:text="${partner.schoolName}"></strong>
                                </div>
                                <div class="col-xs-2">
                                    手机：<strong th:text="${partner.mobile}"></strong>
                                </div>
                                <div class="col-xs-2">
                                    <strong id="starRating" style="display: none;"
                                            th:text="${partner.starRating}"></strong>
                                    <div id="star" class="pull-left" style="font-size: 24px; color: #cccccc;">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                                <div id="remark" class="col-sm-4">
                                    备注：<strong class="remark" th:text="${partner.remarks}"></strong>
                                    <input id="toupdate" onclick="toUpdateRemark()" type="button" class="btn" style="padding: 2px 10px;" value="编辑"/>
                                </div>
                                <div id="remark1" class="col-sm-4">
                                    备注：<input id="remarkUpdate" style="padding-left: 4px;height: 26px;" type="text"/>
                                    <input id="update" class="btn true-color" style="padding: 2px 10px;" onclick="doUpdateRemark()" type="button" value="确认"/>
                                </div>
                                <input type="hidden" id="id" name="partnerid" th:value="${partner.id}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div style="border-bottom: 1px solid #e9e9e9">
                                </div>
                            </div>
                        </div>
                        <div class="box-header">
                            <div class="form-group form-horizontal">
                                <div class="col-sm-3 col-sm-offset-5">
                                    <label class="col-sm-4 control-label">加入时间</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="jointime" placeholder="请选择开始时间和结束时间"/>
                                    </div>
                                </div>
                                <div class="input-group col-sm-4">
                                    <input type="text" id="seachText" placeholder="搜索用户" class="form-control" />
                                    <span class="input-group-addon seachButton" id="seachBtn">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 150px;">
                                        <select class="form-control" id="code" onchange="initPartnerData(1,10)" name="code">
                                            <option selected="selected" value="">全部邀码</option>
                                            <option th:each="code : ${codes}"
                                                    th:value="${code.code}"
                                                    th:text="${code.code}"></option>
                                        </select>
                                    </th>
                                    <th>姓名</th>
                                    <th>学号</th>
                                    <th>手机</th>
                                    <th>QQ</th>
                                    <th style="width: 220px;">
                                        <select class="form-control" id="schoolList" onchange="initPartnerData(1,10)" name="schoolId">
                                            <option selected="selected" value="">全部学校</option>
                                            <option th:each="school : ${schools}"
                                                    th:value="${school.id}"
                                                    th:text="${school.name}"></option>
                                        </select>
                                    </th>
                                    <th width="12%">
                                        加入时间
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="partnerList">
                                <!--<tr th:each="userInfo:${schoolPartnerVoList}">-->
                                <!--<th><span th:text="${userInfo.code}"></span></th>-->
                                <!--<th><span th:text="${userInfo.realName}"></span></th>-->
                                <!--<th><span th:text="${userInfo.studentNo}"></span></th>-->
                                <!--<th><span th:text="${userInfo.mobile}"></span></th>-->
                                <!--<th><span th:text="${userInfo.qq}"></span></th>-->
                                <!--<th><span th:text="${userInfo.schoolName}"></span></th>-->
                                <!--<th><span th:text="${userInfo.joinTime}"></span></th>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                            <div class="form-group">
                                <p id="partnerListPagination" class="col-sm-11"></p>
                                <div class="col-sm-1 text-right">
                                    <button id="export" type="submit" class="btn true-color btn-sm">导出</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <!--<p id="partnerListPagination"></p>-->
                                <div class="col-sm-4">
                                    <h4>合计：<span id="count"></span></h4>
                                </div>
                                <div class="col-sm-4">
                                    <button onclick="getCode()" type="button" class="btn true-color " value="增加">增加邀请码</button>
                                    <input id="code1" type="text" style="line-height: 30px;" />
                                    <button type="button" class="btn true-color" onclick="addCode()" id="add"
                                            value="确认">确认
                                    </button>
                                </div>
                                <!--<div class="col-sm-1 col-xs-offset-3">-->
                                    <!--<button id="export" type="submit" class="btn true-color">导出</button>-->
                                <!--</div>-->
                            </div>
                        </div>


                    </div>
                </div>

            </div>


        </form>
    </section>
</div>
</body>
</html>
