@charset "utf-8";

/*Layout  CSS */
html,body,.login_wirp{
	width: 100%;
	height: 100%;
}
body {
	background: url(../img/bg1.jpg) no-repeat 50% 50%;
	overflow: hidden;
}

body,
html,
div,
table,
form,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
a,
span,
font,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	font-family: "TradeGothicW01-BoldCn20 675334", Helvetica, Arial, "Microsoft YaHei", SimHei, sans-serif;
	outline: none;
}

li {
	list-style: none;
}

img {
	display: block;
}

.clear {
	clear: both;
}

a {
	outline: none;
	text-decoration: none;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	/* Firefox 4 */
	-webkit-transition: all 0.6s;
	/* Safari and Chrome */
	-o-transition: all 0.6s;
	/* Opera */
	color: #333;
}

a:hover {
	color: #00706c;
	outline: none;
}


/* login*/

.login_wirp {
	width: 100%;
	height: 100%;
	position: relative;
}

.login {
	width: 850px;
	margin: 0 auto;
	position: relative;
	top: 135px;
	background: url(../img/formbg.png) no-repeat;
	background-size: 100% 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.login .login_form {
	padding: 50px 213px;
	
}

.login .login_form_cnt {
	width: 100%;
	position: relative;
}

.login .login_form_cnt p {
	height: 36px;
	padding: 5px 0 5px 18px;
	border: 1px solid #b5c4c4;
	position: relative;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin-bottom: 20px;
	background: #fffdea;
}


.login .login_form_cnt p img {
	position: absolute;
	left: 22px;
	top: 8px;
}

.login .login_form_cnt p input {
	padding: 0 10px 0 56px;
	width: 260px;
	height: 36px;
	line-height: 36px;
	font-size: 18px;
	color: #333;
	border: 0;
	background: #fffdea;
	outline: none;
	-webkit-appearance: none;
}

.login .login_form_cnt .p_nubr{
	width: 260px;
}

.login .login_form_cnt p input:hover {
	color: #000;
	border: 0;
	outline: none;
	-webkit-appearance: none;
}

.login .login_form_cnt .p_nubr button {
	width: 130px;
	height: 48px;
	font-size: 16px;
	line-height: 48px;
	color: #bc8500;
	border: 0;
	border-radius: 5px;
	background: #ffec95;
	cursor: pointer;
	position: absolute;
	right: -144px;
	top: 0;
	outline: none;
}

.login .login_form_cnt .p_nubr button:hover {
	background: #ffb400;
	color: #fff;
	outline: none;
}

.login .login_form_cnt .p_nubr input {
	width: 130px;
}

.login .login_form_cnt .p_submit {
	border-bottom: 0;
	padding: 0;
	margin-top: 40px;
}

.login .login_form_cnt .p_submit:hover {
	border-bottom: 0;
}

.login .login_form_cnt .p_submit input[type="submit"] {
	padding: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #fff;
	border: 0;
	border-radius: 5px;
	background: #ffa200;
	cursor: pointer;
	outline: none;
}

.login .login_header{
	height: 80px;
	padding: 0 190px;
	position: relative;
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
}
.login .login_header .login_font{
	width: 290px;
    color: #fff;
    font-weight: normal;
    position: absolute;
    right: 190px;
    height: 100%;
}
.login .login_header .login_font > img{
	width: 100%;
	height: 100%;
}
.login .login_img {
	width: 100px;
	height: 100%;
	position: absolute;
}
.login .login_img> img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.login .login_form_memo {
	font-size: 16px;
	padding-left: 26px;
}

.login .login_form_memo> label input {
	margin-right: 33px;
}

.login .login_form_memo> label {
	margin-left: 2px;
	color: #c2c2c2;
	font-size: 16px;
}
.get-code > span{
	color: #ff0000;
}

.login_footer {
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
	color: #979c97;
	font-weight: normal;
	text-align: center;
	position: absolute;
	bottom: 70px;
}

.login .login_form_cnt .p_err {
    border-bottom: 0;
    color: #ff4835;
    font-size: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 60px;
}


@media (max-width:1920px){
	body{
		transform: scale(0.75);
		-webkit-transform: scale(0.75);
		-moz-transform: scale(0.75);
		-ms-transform: scale(0.75);
	}
}
/*@media (max-width:960px){
	.login{
		width: 550px;
		top: 80px;
	}
	.login .login_form{
		padding: 30px 123px;
	}
	.login .login_header{
		padding: 0 100px;
		height: 60px;
	}
	.login .login_img{
		width: 80px;
	}
	.login .login_header .login_font{
		right: 100px;
		width: 230px;
	}
	.login .login_form_cnt .p_nubr {
	    width: 150px;
	}
	.login .login_form_cnt .p_nubr input{
		width: 80px;
	}
	.login .login_form_cnt .p_submit{
		margin-top: 30px;
	}
	.login .login_form_cnt p{
		height: 32px;
		margin-bottom: 15px;
	}
	.login .login_form_cnt p img{
		top: 6px;
		left: 15px;
	}
	.login .login_form_cnt p input{
		font-size: 16px;
		line-height: 32px;
		height: 32px;
		padding: 0 10px 0 40px;
		width: 180px;
	}
	.login .login_form_cnt .p_nubr button{
		height: 44px;
		line-height: 44px;
		width: 120px;
		right: -135px;
	}
	.login .login_form_cnt .p_submit input[type="submit"]{
		height: 46px;
		line-height: 46px;
	}
	.login .login_form_cnt .p_err{
		bottom: 50px;
	}
}*/