<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>音频列表</title>
    <style type="text/css">
        a:link {color: black;} /* 未访问的链接 */
    </style>
    <script th:src="@{/js/admin/audio/anchorAudioList.js}" ></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-header">
        <h1>
            音频列表
        </h1>
    </section>

    <!-- Main content -->
    <section class="content" style="overflow-x: auto;">
        <div class="row" style="min-width: 900px;">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-8">
                                <div class="input-group">
                                    <input type="text" id="seachText" placeholder="音频名称" class="form-control" onkeydown="seachList(event)"/>
                                    <span class="input-group-addon seachButton" onclick="getAudioList()">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <input type="hidden" th:value="${imgsDomain}" id="imgsDomain"/>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>音频</th>
                                <th>名称</th>
                                <th>所属频道</th>
                                <th>主播</th>
                                <th>上线时间</th>
                                <th>状态</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody id="audioList">
                            </tbody>
                        </table>
                        <p id="audioListPagination"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
