<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaxiaopu.xiaopuMobi.mapper.UserFocusAnchorMapper">
    <resultMap id="BaseResultMap" type="com.chinaxiaopu.xiaopuMobi.model.UserFocusAnchor">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="focus_user_id" jdbcType="INTEGER" property="focusUserId"/>
        <result column="focus_time" jdbcType="TIMESTAMP" property="focusTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, user_id, focus_user_id, focus_time
  </sql>
    <select id="selectByExample" parameterType="com.chinaxiaopu.xiaopuMobi.model.UserFocusAnchorExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from user_focus_anchor
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectAnchorInfoByUserId" parameterType="java.lang.Integer" resultType="com.chinaxiaopu.xiaopuMobi.model.UserInfo">
    select  ui.user_id userId,ui.avatar_url avatarUrl,ui.nick_name nickName,ui.user_sex userSex from user_focus_anchor ufa
    left join user_info ui on ufa.focus_user_id = ui.user_id where ufa.user_id =#{userId,jdbcType=INTEGER}
    </select>
    <select id="selectByUserId" parameterType="java.lang.Integer"
            resultType="com.chinaxiaopu.xiaopuMobi.vo.UserFocusVo">
      SELECT
         t3.avatar_url avatarUrl,t3.nick_name nickName, t3.user_sex userSex,t.topicId ,t.slogan,t.content,DATE_FORMAT(t.createTime,'%Y-%m-%d') createTime,t.creator_id userId,t.channel_id channelId,t2.`name` channelName,t2.poster_img posterImg
      from (
	        SELECT
			t0.id topicId,t0.slogan,t0.content,t.createTime,t.creator_id,t0.channel_id
		      FROM(
				SELECT t.creator_id,MAX(t.create_time) createTime FROM topics t WHERE t.type = 3 AND t.`status` = 1 AND t.is_delete = 1 GROUP BY t.creator_id
			      ) t
		LEFT JOIN topics t0 ON t.creator_id = t0.creator_id AND t.createTime = t0.create_time WHERE t0.type = 3 AND t0.`status` = 1 AND t0.is_delete = 1
          ) t
      LEFT JOIN user_focus_anchor t1 on t1.focus_user_id = t.creator_id
      LEFT JOIN pk_channel t2 on t2.id = t.channel_id
      LEFT JOIN user_info t3 on t3.user_id = t.creator_id
      where t1.user_id=#{userId,jdbcType=INTEGER}
      ORDER BY t1.focus_time desc
  </select>

    <!--<select id="selectByUserIdAndFocusUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select * from user_focus_anchor where where user_id = #{userId,jdbcType=INTEGER} and focus_user_id  = #{focusUserId,jdbcType=INTEGER}-->
    <!--</select>-->

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_focus_anchor
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByUserFocusAbchor" parameterType="com.chinaxiaopu.xiaopuMobi.model.UserFocusAnchor">
        delete from user_focus_anchor
        where user_id = #{userId,jdbcType=INTEGER} and focus_user_id  = #{focusUserId,jdbcType=INTEGER}
  </delete>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_focus_anchor
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.chinaxiaopu.xiaopuMobi.model.UserFocusAnchorExample">
        delete from user_focus_anchor
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.chinaxiaopu.xiaopuMobi.model.UserFocusAnchor">
    insert into user_focus_anchor (id, user_id, focus_user_id, 
      focus_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{focusUserId,jdbcType=INTEGER}, 
      #{focusTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.chinaxiaopu.xiaopuMobi.model.UserFocusAnchor">
        insert into user_focus_anchor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="focusUserId != null">
                focus_user_id,
            </if>
            <if test="focusTime != null">
                focus_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="focusUserId != null">
                #{focusUserId,jdbcType=INTEGER},
            </if>
            <if test="focusTime != null">
                #{focusTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.chinaxiaopu.xiaopuMobi.model.UserFocusAnchorExample"
            resultType="java.lang.Long">
        select count(*) from user_focus_anchor
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user_focus_anchor
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.focusUserId != null">
                focus_user_id = #{record.focusUserId,jdbcType=INTEGER},
            </if>
            <if test="record.focusTime != null">
                focus_time = #{record.focusTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update user_focus_anchor
        set id = #{record.id,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        focus_user_id = #{record.focusUserId,jdbcType=INTEGER},
        focus_time = #{record.focusTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.chinaxiaopu.xiaopuMobi.model.UserFocusAnchor">
        update user_focus_anchor
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="focusUserId != null">
                focus_user_id = #{focusUserId,jdbcType=INTEGER},
            </if>
            <if test="focusTime != null">
                focus_time = #{focusTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chinaxiaopu.xiaopuMobi.model.UserFocusAnchor">
    update user_focus_anchor
    set user_id = #{userId,jdbcType=INTEGER},
      focus_user_id = #{focusUserId,jdbcType=INTEGER},
      focus_time = #{focusTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>