<html  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>资源列表</title>
    <link rel="stylesheet" href="../../../static/plugins/jquery-treegrid/css/jquery.treegrid.css"
          th:href="@{/plugins/jquery-treegrid/css/jquery.treegrid.css}" />
    <script src="../../../static/plugins/jquery-treegrid/js/jquery.treegrid.js"
            th:src="@{/plugins/jquery-treegrid/js/jquery.treegrid.js}"></script>
    <script src="../../../static/plugins/jquery-treegrid/js/jquery.treegrid.bootstrap3.js"
            th:src="@{/plugins/jquery-treegrid/js/jquery.treegrid.bootstrap3.js}"></script>
    <script src="../../../static/js/authorization/resource.js" th:src="@{/js/authorization/resource.js}"></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-header">
        <h1>
            资源管理
        </h1>
    </section>

    <section class="content" style="overflow-x: auto;">
        <div class="row" style="min-width: 1100px;">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-xs-4">
                            <button shiro:hasPermission="resManage:add" style="width: 150px;" type="button" onclick="add()" class="btn true-color">添加初始资源
                            </button>
                        </div>
                    </div>

                    <!--资源树表-->
                    <div class="box-body" style=" height:700px;overflow:auto;">
                        <table id="resourceTreeTable" class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <!--<th style="text-align: center;background:white">资源id</th>-->
                                <th>资源名</th>
                                <th>链接</th>
                                <th>权限标识</th>
                                <th>排序</th>
                                <th>类型</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="treeTableTbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="selectGroup" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">创建资源信息</h4>
                </div>

                <div class="modal-body">
                    <form id="resourceForm" class="form-horizontal" role="form" novalidate="novalidate" name="roleForm">
                        <div class="box-body">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">父级菜单:<i style="color: red">*</i></label>
                                <div class="col-sm-6">
                                    <!--<input type="text" name="parentId" id="parentId" check-type="required"-->
                                    <!--required-message="请填写直属父节点" class="form-control" maxlength="10"-->
                                    <!--placeholder="请填写直属父节点"/>-->
                                    <select class="form-control" id="parentId" onchange="findResource()">
                                        <option th:each="resource:${resource}"
                                                th:value="${resource.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">资源名:<i style="color: red">*</i></label>
                                <div class="col-sm-6">
                                    <input type="text" name="resourceName" id="resourceName" check-type="required"
                                           required-message="请填写资源名" class="form-control" maxlength="20"
                                           placeholder="请填写资源名"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">url:<i style="color: red">*</i></label>
                                <div class="col-sm-6">
                                    <input type="text" name="url" id="url" check-type="required"
                                           required-message="请填写url地址" class="form-control" maxlength="40"
                                           placeholder="请填写url地址"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">权限:<i style="color: red">*</i></label>
                                <div class="col-sm-6">
                                    <input type="text" name="permission" id="permission" check-type="required"
                                           required-message="请填写对应权限" class="form-control" maxlength="20"
                                           placeholder="请填写对应权限"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">是否启用:<i style="color: red">*</i></label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="available" onchange="findResource()">
                                        <option value="0">不启用</option>
                                        <option value="1">启用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">sort:<i style="color: red">*</i></label>
                                <div class="col-sm-6">
                                    <input type="text" name="sort" id="sort" check-type="required"
                                           required-message="" class="form-control" maxlength="20"
                                           placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">类型:<i style="color: red">*</i></label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="type">
                                        <option value="1">菜单</option>
                                        <option value="2">按钮</option>
                                        <option value="3">超链接</option>
                                        <option value="4">列表</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="add" type="button" class="btn true-color">添加</button>
                    <button id="update" type="button" class="btn true-color">修改</button>
                </div>

            </div>
        </div>
    </div>

    <!-- 信息删除确认 -->
    <div class="modal fade" id="delcfmModel">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">提示信息</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align: center;font-size: 30px;">您确认要删除吗？</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="delid"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a onclick="urlSubmit()" class="btn true-color" style="color: #444444;" data-dismiss="modal">确定</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
</html>
